/* cmsms stylesheet: gallery modified: 06/09/21 12:54:23 */
.gallery img {height: 180px;width: 20%;float: left;padding: 0.5rem;text-align: center;}@media screen and (max-width: 1100px) {.gallery img {width: 33.3333%;}}@media screen and (max-width: 800px)  {.gallery img {width: 25%;}}@media screen and (max-width: 600px)  {.gallery img {width: 50%;}}.gallery img a {display: inline-block;}.gallery img:hover {box-shadow: 0 0.15rem 0.5rem #333333;-webkit-transition: box-shadow 0.2s ease-in-out;-moz-transition: box-shadow 0.2s ease-in-out;-o-transition: box-shadow 0.2s ease-in-out;transition: box-shadow 0.2s ease-in-out;}.gallery img {border: none;}.gallery .pagenavigation {height: 50px;}.gallery .prevpage a, .gallery .prevpage em {display: block;width: 50px;height: 39px;float: left;margin: 0;text-indent: -1000px;background: url(https://www.gtmassage.com.au/modules/Gallery/images/previous.png) transparent no-repeat 0 0;overflow: hidden;}.gallery .nextpage a, .gallery .nextpage em {display: block;width: 50px;height: 39px;float: left;margin: 0 6px 0 0;text-indent: -1000px;background: url(https://www.gtmassage.com.au/modules/Gallery/images/next.png) transparent no-repeat 0 0;overflow: hidden;}.gallery .parentlink a {display: block;width: 50px;height: 39px;float: left;text-indent: -1000px;background: url(https://www.gtmassage.com.au/modules/Gallery/images/uppage.png) transparent no-repeat 0 0;overflow: hidden;}.gallery .pagenavigation a:hover {background-position: 0 -40px;}.gallery .prevpage em, .gallery .nextpage em {background-position: 0 -80px;}.gallery .pagelinks {float: right;border-right: 2px solid #666;}.gallery .pagelinks a, .gallery .pagelinks em {margin-top: 6px;padding: 0 6px;border-left: 2px solid #666;text-align: center;font: bold 11px verdana; color: #666;}.gallery .pagelinks em {color: #000;}.galleryclear {clear: both;}/* LIGHTBOX  -  version 2.8.2 *//* Preload images */body:after {content: url(https://www.gtmassage.com.au/modules/Gallery/templates/lightbox/images/close.png) url(https://www.gtmassage.com.au/modules/Gallery/templates/lightbox/images/images/loading.gif) url(https://www.gtmassage.com.au/modules/Gallery/templates/lightbox/images/images/prev.png) url(https://www.gtmassage.com.au/modules/Gallery/templates/lightbox/images/images/next.png);display: none;}body.lb-disable-scrolling {overflow: hidden;}.lightboxOverlay {position: absolute;top: 0;left: 0;z-index: 9999;background-color: black;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity: 0.8;display: none;}.lightbox {position: absolute;left: 0;width: 100%;z-index: 10000;text-align: center;line-height: 0;font-weight: normal;}.lightbox .lb-image {display: block;height: auto;max-width: inherit;border-radius: 3px;}.lightbox a img {border: none;}.lb-outerContainer {position: relative;background-color: white;*zoom: 1;width: 250px;height: 250px;margin: 0 auto;border-radius: 4px;}.lb-outerContainer:after {content: "";display: table;clear: both;}.lb-container {padding: 4px;}.lb-loader {position: absolute;top: 43%;left: 0;height: 25%;width: 100%;text-align: center;line-height: 0;}.lb-cancel {display: block;width: 32px;height: 32px;margin: 0 auto;background: url(https://www.gtmassage.com.au/modules/Gallery/templates/lightbox/images/loading.gif) no-repeat;}.lb-nav {position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}.lb-container > .nav {left: 0;}.lb-nav a {outline: none;background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');}.lb-prev, .lb-next {height: 100%;cursor: pointer;display: block;}.lb-nav a.lb-prev {width: 34%;left: 0;float: left;background: url(https://www.gtmassage.com.au/modules/Gallery/templates/lightbox/images/prev.png) left 48% no-repeat;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;-webkit-transition: opacity 0.6s;-moz-transition: opacity 0.6s;-o-transition: opacity 0.6s;transition: opacity 0.6s;}.lb-nav a.lb-prev:hover {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;}.lb-nav a.lb-next {width: 64%;right: 0;float: right;background: url(https://www.gtmassage.com.au/modules/Gallery/templates/lightbox/images/next.png) right 48% no-repeat;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;-webkit-transition: opacity 0.6s;-moz-transition: opacity 0.6s;-o-transition: opacity 0.6s;transition: opacity 0.6s;}.lb-nav a.lb-next:hover {filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;}.lb-dataContainer {margin: 0 auto;padding-top: 5px;*zoom: 1;width: 100%;-moz-border-radius-bottomleft: 4px;-webkit-border-bottom-left-radius: 4px;border-bottom-left-radius: 4px;-moz-border-radius-bottomright: 4px;-webkit-border-bottom-right-radius: 4px;border-bottom-right-radius: 4px;}.lb-dataContainer:after {content: "";display: table;clear: both;}.lb-data {padding: 0 4px;color: #ccc;}.lb-data .lb-details {width: 85%;float: left;text-align: left;line-height: 1.1em;}.lb-data .lb-caption {font-size: 13px;font-weight: bold;line-height: 1em;}.lb-data .lb-number {display: block;clear: left;padding-bottom: 1em;font-size: 12px;color: #999999;}.lb-data .lb-close {display: block;float: right;width: 30px;height: 30px;background: url(https://www.gtmassage.com.au/modules/Gallery/templates/lightbox/images/close.png) top right no-repeat;text-align: right;outline: none;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity: 0.7;-webkit-transition: opacity 0.2s;-moz-transition: opacity 0.2s;-o-transition: opacity 0.2s;transition: opacity 0.2s;}.lb-data .lb-close:hover {cursor: pointer;filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity: 1;}
/* cmsms stylesheet: mobilenav modified: 10/03/18 14:34:10 */
.close-button, .close-button.medium {padding:0 1rem;}/******************** MENU *********************/#menu_vert h3 {color: #FFFFFF;text-align: left;padding-left: 1rem;background:#795548;height: 2.8125rem;line-height: 2.8125rem;margin:0;}ul.off-canvas-list {list-style-type: none;margin: 0;padding: 0;font-weight:300;}ul.off-canvas-list li.sectionheader  {color: #ebebeb;background:#000000;padding: 0; border-bottom: 1px solid #262626;}.off-canvas-list li a:focus, .off-canvas-list li a:hover, .off-canvas-list li a:active {display: block;padding: 0.66667rem;color: #000000;border-bottom: 1px solid #262626;background: #FFFFFF;transition: background 300ms ease;}.off-canvas-list li.currentpage a.currentpage {display: block;padding: 0.66667rem;color: #000000;border-bottom: 1px solid #262626;background: #FFFFFF;transition: background 300ms ease;}.left-small a {background-color: #333333;}ul.off-canvas-list li ul, ul li ol {margin: 0;}ul.off-canvas-list li a {border-bottom: 1px solid #262626;color: rgba(255, 255, 255, 0.7);display: block;padding: 0.66667rem;transition: background 300ms ease;background:rgba(121,85,72,0.50);}ul.off-canvas-list li a:hover, ul.off-canvas-list li a:focus {color: #795548;background:#FFFFFF;}ul.off-canvas-list li li a {color: #ebebeb;background:#646464;padding: 0.35rem 0 0.35rem 1rem;}ul.off-canvas-list li li a:hover, ul.off-canvas-list li li a:focus {color: #C9252C;background:#ebebeb;}
/* cmsms stylesheet: topnav modified: 01/20/22 11:55:09 */
.navbar {border-top: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb;}.main-menu > li {display: block;border-bottom: none;position: relative;height:48px;}.main-menu > li:last-child {}.main-menu > li > a,.main-menu > li.sectionheader > span {font-family: 'Gotham SSm A','Gotham SSm B',"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;text-transform: uppercase;color: #fff;text-decoration: none;font-size: 1rem;font-weight: 400;cursor: pointer;padding: 0;display: block;position: relative;}.main-menu > li.current > a,.main-menu > li.current.sectionheader > span,.main-menu > li:hover > a,.main-menu > li.sectionheader:hover > span {color: #fff;background-color: #795548;transition: all 0.3s;}.main-menu > li > ul,.main-menu > li > ul > li > ul  {position: absolute;left: -999em;list-style:none;border-left:1px solid #ebebeb;border-right:1px solid #ebebeb;border-bottom:1px solid #ebebeb;}.main-menu > li:hover > ul,.main-menu > li.active > ul,.main-menu > li > ul > li:hover > ul,.main-menu > li > ul > li.active > ul {position: relative;left: 0;}.main-menu > li > ul > li > a,.main-menu > li > ul > li.sectionheader > span,.main-menu > li > ul > li > ul > li > a,.main-menu > li > ul > li > ul > li.sectionheader > span {text-decoration: none;color: #fff;text-transform: uppercase;display: block;padding: 5px 0;text-align: right;}.main-menu > li > ul > li:hover > a,.main-menu > li > ul > li.sectionheader:hover > span,.main-menu > li > ul > li > ul > li:hover > a,.main-menu > li > ul > li > ul > li.sectionheader:hover > span {color: #999;}.main-menu > li > ul > li > ul > li > a,.main-menu > li > ul > li > ul > li.sectionheader > span {padding-left: 15px;font-size: .875em;text-transform: none;}.main-navigation {z-index: 990;height: 48px;line-height: 48px;margin: 0;}.main-menu {float: left;margin: 0;width:100%;}.main-navigation ul {margin-bottom: 0;}.main-menu > li {display: inline-block;padding: 0;margin: 0;border: none;position: relative;left: 0;width:20%;text-align: center;}@media screen and (max-width: 1300px) {.main-menu > li {width:25%;}}.main-menu > li:first-child, .main-menu > li.first {margin-left: 0;}.main-menu > li:last-child, .main-menu > li.last {margin-right: 0;}.main-menu > li > a,.main-menu > li.sectionheader span {font-size: 1rem;line-height: 48px;}.main-menu > li > a:hover {border-bottom:none;}@media screen and (max-width: 1300px) {.main-menu > li > a,.main-menu > li.sectionheader span {font-size: 0.9rem;line-height: 48px;}}@media screen and (max-width: 1025px) {.main-menu > li > a,.main-menu > li.sectionheader span {}}.main-menu > li.parent:hover > a,.main-menu > li.sectionheader.parent:hover > span,.main-menu > li.parent.active > a,.main-menu > li.parent.active > span {color: #fff;background-color: #795548;border-bottom: none;transition: all 0.3s;}.main-menu > li > ul,.main-menu > li > ul > li > ul  {display: block;width: 100%;}.main-menu > li:hover > ul,.main-menu > li.active > ul,.main-menu > li > ul > li:hover > ul,.main-menu > li > ul > li.active > ul {height: auto;position: absolute;z-index: 9999;top: 55px;right: 0;left: auto;display: block;}.main-menu > li:first-child:hover > ul,.main-menu > li:first-child.active > ul {right: auto;left: 0;}.main-menu > li > ul > li {position: relative;line-height: 1;margin: 0;}.main-menu > li:first-child > ul > li {padding-right: 10px;padding-left: 0;}.main-menu > li > ul > li > a,.main-menu > li > ul > li.sectionheader > span,.main-menu > li > ul > li > ul > li > a,.main-menu > li > ul > li > ul > li.sectionheader > span {color: #000000;display: block;text-transform: none;text-align:center;line-height: 1.2;background-color: #ffffff;padding: 0.64rem;font-size: 1rem;text-decoration: none;margin: 0;font-family: 'Gotham SSm A','Gotham SSm B',"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-weight: 300;border-top:1px solid #ebebeb;}.main-menu > li > ul > li > a:hover {color: #ffffff;background-color: #795548;border-top:1px solid #ebebeb;transition: all 0.3s;}.main-menu > li > ul > li.current > a,.main-menu > li > ul > li > ul > li.current > a, {color:  #ffffff;background-color: #795548;}.main-menu > li > ul > li.current:last-child > a {color:  #ffffff;background-color: #795548;border-bottom:1px solid #666666;}.main-menu > li > ul > li:hover > ul,.main-menu > li > ul > li.active > ul {width: 250px;height: auto;top: 0;right: auto;left: -250px;}.main-menu > li:first-child > ul > li:hover > ul,.main-menu > li:first-child > ul > li.active > ul {left: auto;right: -250px;}.lt-ie9 .main-menu > li > ul > li:hover > ul,.lt-ie9 .main-menu > li > ul > li.active > ul {left: -247px;}.main-menu > li > ul > li:hover > ul:after,.main-menu > li > ul > li.active > ul:after {content: ' ';width: 0px;height: 0px;border-style: solid;border-width: 7px 0 7px 6px;border-color: transparent transparent transparent #FDCD2A;border-color: transparent transparent transparent rgba(85, 85, 85, .95);position: absolute;right: -6px;top: 12px;}.lt-ie9 .main-menu > li:first-child > ul > li:hover > ul,.lt-ie9 .main-menu > li:first-child > ul > li.active > ul {left: auto;right: -247px;}.main-menu > li:first-child > ul > li:hover > ul:after,.main-menu > li:first-child > ul > li.active > ul:after {left: -10px;right: auto;}.main-menu li ul li a:hover,.main-menu li ul li span.sectionheader:hover {}.main-menu > ul > li:last-child > a,.main-menu > ul > li.sectionheader:last-child > span,.main-menu > ul > li > ul > li:last-child > a,.main-menu > ul > li > ul > li.sectionheader:last-child > span {border-bottom: none;}.main-menu > li.hide {display: none;}.hide { display: none;}.main-menu > li > ul > li.current:first-child > a {color:  #ffffff;background-color: #795548;}.main-menu li.current > a {color:  #ffffff;border-bottom: none;background-color: #795548;}.main-menu li.current > a:hover {color:  #ffffff;background-color: #795548;}.main-menu li.current.parent > a {color:  #ffffff;background-color: #795548;}.main-menu li.current.parent > a:hover {color:  #ffffff;background-color: #795548;}
/* cmsms stylesheet: Accessibility and cross-browser tools modified: 04/16/18 15:26:39 */
/* accessibility */
/* menu links accesskeys */
span.accesskey {
	text-decoration: none;
}
/* accessibility divs are hidden by default, text, screenreaders and such will show these */
.accessibility, hr {
/* position set so the rest can be set out side of visual browser viewport */
	position: absolute;
/* takes it out top side */
	top: -999em;
/* takes it out left side */
	left: -999em;
}
/* definition tags are also hidden, these are also used for accessibility menu links */
dfn {
	position: absolute;
	left: -1000px;
	top: -1000px;
	width: 0;
	height: 0;
	overflow: hidden;
	display: inline;
}
/* end accessibility */
/* wiki style external links */
/* external links will have "(external link)" text added, lets hide it */
a.external span {
	position: absolute;
	left: -5000px;
	width: 4000px;
}
a.external {
/* make some room for the image, css shorthand rules, read: first top padding 0 then right padding 12px then bottom then right */
	padding: 0 12px 0 0;
}
/* colors for external links */
a.external:link {
	color: #18507C;
/* background image for the link to show wiki style arrow */
	background: url(https://www.gtmassage.com.au/uploads/NCleanBlue/external.gif) no-repeat 100% -100px;
}
a.external:visited {
	color: #18507C;
/* a different color can be used for visited external links */
/* Set the last 0 to -100px to use that part of the external.gif image for different color for active links external.gif is actually 300px tall, we can use different positions of the image to simulate rollover image changes.*/
	background: url(https://www.gtmassage.com.au/uploads/NCleanBlue/external.gif) no-repeat 100% -100px;
}
a.external:hover {
	color: #18507C;
/* Set the last 0 to -200px to use that part of the external.gif image for different color on hover */
	background: url(https://www.gtmassage.com.au/uploads/NCleanBlue/external.gif) no-repeat 100% 0;
	background-color: inherit;
}
/* end wiki style external links */
/* clearing */
/* clearfix is a hack for divs that hold floated elements. it will force the holding div to span all the way down to last floated item. We strongly recommend against using this as it is a hack and might not render correctly but it is included here for convenience. Do not edit if you dont know what you are doing*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clear {
	height: 0;
	clear: both;
	width: 90%;
	visibility: hidden;
}
#main .clear {
	height: 0;
	clear: right;
	width: 90%;
	visibility: hidden;
}
* html>body .clearfix {
	display: inline-block;
	width: 100%;
}
* html .clear {
/* Hides from IE-mac \*/
	height: 1%;
	clear: right;
	width: 90%;
/* End hide from IE-mac */
}
/* end clearing */
/* cmsms stylesheet: slick modified: 09/26/18 11:33:17 */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
/* cmsms stylesheet: app modified: 01/19/22 14:27:11 */
body {font-family: 'Open Sans', sans-serif;}

.grid-container {max-width: 80rem;margin: 0 auto;}


#header {}

@media screen and (max-width: 767px) {
#header {width: 100%;padding:0;top: 50px;z-index: 99;}
}

.navbackground {position: fixed;background-color: rgba(0,0,0,0.30);width: 100%;padding:0;top: 0px;z-index: 99;}

.off-canvas.is-transition-overlap {z-index: 100;}

.reveal-modal .close-reveal-modal:hover {color: #000000;}

.internalhero {height:100vh;}
.internal .internalhero {height:60vh;}


@media screen and (max-width: 1023px) {
.home .internalhero {height:90vh;}
.internalhero {height:90vh;}}

.title-bar .menu-icon {cursor: pointer;}

.logowrapper {
z-index: 1000;
height: 41px;
overflow: visible;
position: relative;
padding: 0;}

.logowrapper a {padding:0;border:none;}

.logowrapper img {
height: 14vh;
max-height: 150px;
min-height: 80px;
z-index: 100;
-webkit-transition: all 2.0s;
    -moz-transition: all 2.0s;
    -ms-transition: all 2.0s;
    -o-transition: all 2.0s;
    transition: all 2.0s;
}

.scrolled .logowrapper img {
height: 10vh;
max-height: 150px;
min-height: 80px;
z-index: 100;
-webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.homebooklogo {position:absolute;z-index: 2;top: 30vh;height:130px;width:100%;text-align:center;}
.homebooklogo img {max-width:500px;margin:0 auto;text-align:center;}
.homebookingbutton {position:absolute;z-index: 2;top: 80vh;height:100px;width:100%;text-align:center;}

@media screen and (max-width: 767px) {
.homebooklogo {top: 15vh;height:100px;width:300px;text-align:center;left: 0;right: 0; margin: 0 auto;}
.homebooklogo img {max-width:300px;margin:0 auto;text-align:center;}
.homebookingbutton {position:absolute;z-index: 2;top: 40vh;height:100px;width:100%;text-align:center;}}


.internallogo {z-index: 2;top: 20vh;left:20vw;width:300px;height:200px;text-align:center;position:absolute; }
.internallogo img {text-align:center;margin:0 auto;}

.right {float:right;text-align:right;}
.right img {float:right;text-align:right;}

.internallogo {left: 0;right: 0; margin: 0 auto;top: 20vh;}

.black {background-color: rgba(0,0,0,1);padding:2rem 0;}
.white {background-color: #ffffff;padding:3rem 0 1rem 0;}

@media screen and (max-width: 800px) {
.black {background-color: rgba(0,0,0,1);padding:1rem 0;}
}

.menuwrapper {height:15rem;
    color: #FFFFFF;
    font-weight: normal;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #000000;
    padding: 6rem 0 0 0;
    display: block;
}


a {color: rgba(121,85,72,1.00);border:none;padding: 0rem;}
a:hover {color: #ffffff;border:none;background:rgba(121,85,72,0.50)}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #795548;
    text-rendering: optimizeLegibility;
}

.slick-dots {
    position: absolute;
    list-style: none;
    display: block;
    text-align: right;
    padding: 0px;
    width: 40%;
    right: 5px;
    bottom: 10px;
}

@media screen and (max-width: 767px) {
.slick-dots {width: 90%;}}


ul.slick-dots {margin:0;}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0px 3px;
    padding: 0px;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: #000000;
    display: block;
    height: 1.250rem;
    width: 1.250rem;
    outline: none;
    line-height: 1.250rem;
    font-size: 0.65rem;
    color: #FFFFFF;
    padding: 0rem;
    cursor: pointer;
    border-radius: 50%;
}

.slick-dots li button:hover {
    background: #ffffff;
	 color: #000000;
}

.slick-dots li.slick-active button{
    background: #ffffff;
	 color: #000000;
}

.sswrapper {margin: 0;list-style-type: none;}

.sswrapper .socialbarmobile {padding: 0 0 0 0.5rem;font-size:1rem;}

.socialbarmobile a .fa-instagram {
    color: #ffffff;
background-color: transparent;
    padding: 0.5rem;
    font-size:2.5rem;
}

.socialbarmobile a:hover .fa-instagram {
  color: #00A6DD;
}

.socialbarmobile a .fa-facebook {
   color: #ffffff;
background-color: transparent;
     padding: 0.5rem;
    font-size:2.5rem;
}

.socialbarmobile a:hover .fa-facebook {color: #00A6DD;}

.button {
 background-color: #795548;color: #ffffff;margin:0;border:none;}

.button:focus, .button:hover {
background-color: rgba(0,50,0,1.00);
color: #ffffff;
}

button.success, .button.success {
background-color: rgba(121,85,72,0.50);
border-width: 0.1rem;
border-color: rgba(121,85,72,1.00);
color: #ffffff;
font-size: 1.3rem;
padding: 0.5rem 0 ;
width:18rem;
margin:0 auto;text-transform:uppercase;}


button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
background-color: rgba(121,85,72,1);color: #ffffff;border-width: 0.1rem;border-color: #FFFFFF; }



button.searchsubmit, .button.searchsubmit {
background-color: #000000;
border-width: 0.4rem;
border-color: #000000;
color: #ffffff;
font-size: 1.3rem;
padding: 0.5rem 1rem;
margin:0;
text-transform:uppercase;}

button.searchsubmit:hover, button.searchsubmit:focus, .button.searchsubmit:hover, .button.searchsubmit:focus {
background-color: #ffffff;color: #000000;border-width: 0.4rem;border-color: #000000; }

.button.hollow.secondary {
border: 2px solid #ebebeb;
color: #767676;
}

.button.hollow.secondary:hover {
border: 2px solid #000000;
color: #000000;}

button.modalbutton, .button.modalbutton {
background-color: rgba(0,0,0,1);}

button.modalbutton:hover, .button.modalbutton:hover {
background-color: rgba(251,251,251,0.00);color:rgba(0,0,0,1);}


button.blogdetail, .button.blogdetail {margin-bottom: 1rem;}

.footer .button.hollow.secondary {
border: 2px solid #ebebeb;
color: #ffffff;
background-color: rgba(0,0,0,0.30);
padding: .65rem 1rem;
max-height:40px;}

.footer .button.hollow.secondary:hover {
border: 2px solid #ffffff;
color: #000000;
background-color: #ffffff;}

input[type="submit"] {
cursor: pointer;
background-color: transparent;
border: none;
color: #FFFFFF;}

.contactform input[type="submit"] {
font-size: 1.3rem;}

input[type="submit"]:hover {
cursor: pointer;
background-color: transparent;
border: none;
color: #FFF; }

 input[type="submit"]:focus {
cursor: pointer;
background-color: transparent;
border: none;
color: #FFF;}

.contactform textarea {background-color: rgba(255,255,231,1.00);}
fieldset {padding: 0.5rem 0;margin: 0;border: none;}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {

	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #DBDBDB;
	box-shadow: inset 0 1px 0.125rem rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-family: inherit;
	font-size: 0.8rem;
	height: 2.5rem;
	margin: 0;
	padding: 0.5rem;
	width: 100%;
	min-width: 240px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border-color 0.15s linear, background 0.15s linear;
	-moz-transition: border-color 0.15s linear, background 0.15s linear;
	-ms-transition: border-color 0.15s linear, background 0.15s linear;
	-o-transition: border-color 0.15s linear, background 0.15s linear;
	transition: border-color 0.15s linear, background 0.15s linear;
}



.forminput {margin: 0 0 0.5rem 0;padding: 0; }

.form-group {padding: 0.5rem 0;}

fieldset legend {display: none;}

@media screen and (max-width: 800px) {
fieldset legend {padding: 0.25rem;}

fieldset {padding: 0 0 0.5rem 0;margin: 0;border: none;}

.reveal-modal {padding: 2rem 0.5rem 0.5rem 0.5rem;}}

label {
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;}

.footerlinks label {color: #ebebeb;padding-bottom:0.3rem;}

.scrollToTop {
    display: block;
    display: none;
    z-index: 999;
    opacity: 1;
    position: fixed;
    right: 20px;
    bottom: 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    background: #000000 url([[$path]]/assets/to-top.png) no-repeat center center;
    text-indent: -9999px;
}
.scrollToTop:hover  {padding:0;border:none;background:transparent; width: 40px;
    height: 40px;
    background: #000000 url([[$path]]/assets/to-top.png) no-repeat center center;
    text-indent: -9999px;}
@media screen and (max-width: 800px) {
.scrollToTop {right: 10px;bottom: 10px;}   

.medpad {padding:1rem;}}

.close-button, .close-button.medium {
background-color: #ffffff;
}

.footer {background-color: #795548;padding:1rem 0;}
.footer p {color:#ffffff;font-size:90%;text-align: center;}
.footer p a {color:#ffffff;font-size:90%;border-bottom:1px dotted #ffffff;padding:0 0.25rem;white-space: nowrap;}
.footer p a:hover {background:#ebebeb;color:#000000;font-size:90%;border-bottom:1px solid #1468a0;}
.footer h4 {color:#ffffff;font-size:1.2rem;margin:0 0 0.25rem 0;padding:0;}   

@media screen and (max-width: 800px) {
.footer {background-color: #795548;padding:1rem 0 2rem 0;}}


.scrolled{background-color: rgba(0,0,0,0.6);transition: 0.5s;}



.homemodalwrapper {background-color:#ffffff;}

.homebookingimagenmodal {margin:0.5rem auto;text-align:center;}

.homebookingimagenmodal img {margin:0.5rem auto;text-align:center;}

.revealwrapper {max-width:80rem;margin:0 auto;}

.whitepad1rem {padding:1rem;background-color:#ffffff;}

.blankpad1rem {padding:0;background-color:rgba(0,0,0,0.1);border:none;}

.close-button {
position: absolute;
color: #ffffff;
cursor: pointer;
background-color:#000000;
border:1px solid #000000;
}

.close-button:hover {
position: absolute;
color: #000000;
cursor: pointer;
background-color:#ffffff;
border:1px solid #000000;
box-shadow: 0 2px 6px rgba(0,0,0,0.8);
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.off-canvas.is-transition-overlap.is-open  .close-button {
position: absolute;
color: #ffffff;
cursor: pointer;
background-color:transparent;
border:1px solid transparent;
}



.off-canvas.is-transition-overlap.is-open  .close-button:hover {
position: absolute;
color: #000000;
cursor: pointer;
background-color:#ffffff;
border:1px solid #000000;
box-shadow: 0 2px 6px rgba(0,0,0,0.8);
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}



ul.menu a {color:rgba(0,0,0,1);
margin: 0 0 0.4rem 0;
font-size: 2.4rem;
line-height: 1;
padding: 0;
}

ul.menu a:hover {color:#F3090D;}

ul.menu li {margin: 0 0 0 0.4rem;}


.rightpad {margin:0 0.75rem 0 0;}

.leftpad {margin:0 0 0 0.75rem;}

.borderbottom {margin-bottom:1.6rem;padding-bottom:.75rem;border-bottom:1px dotted #000000;}

@media screen and (max-width: 750px) {

.rightpad {margin:0;}

.leftpad {margin:0;}

.borderbottom {margin-bottom:1rem;border-bottom:1px dotted #000000;}

}
.padtop1rem {padding-top:1rem;}
.padtop2rem {padding-top:2rem;}

.reveal.gtmassage {padding:3rem 1rem 1rem 1rem;}
.menusocial {
    padding: 0.25rem 0 0 0;
    margin: 0;
    list-style: none;
    position: relative;
}
ul.menusocial a {
    color: rgba(255,255,255,1.00);
    margin: 0;
    font-size: 2.4rem;
    line-height: 1;
    padding: 0;
    border:none;
}
ul.menusocial a:hover {
color: rgba(239,8,65,1.00);background:transparent;}

.internalpages {padding:2rem 0rem 1rem 0rem;}

.NewsSummaryHome {
   margin: 0 0 1.8750rem 0;
    padding: 0.75rem;
    background-color: #FFFFFF;
    border: 1px solid rgba(0,102,0,0.30);
}
.NewsSummaryHome:hover {
    box-shadow: 0 2px 8px #CFCFCF;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    border: 1px solid rgba(0,102,0,0.60);
}
.NewsSummaryHome h2 {font-size: 1.4rem;line-height: 1.2;font-weight:bold;}
.NewsSummaryHome h2 a {border:none;}
.NewsSummaryHome h2 a:hover {border:none;}



.NewsSummaryHome h3 {font-size: 1.2rem;line-height: 1.2;}
.NewsSummaryHome h3 a {border-bottom:1px dotted rgba(0,102,0,0.30);}
.NewsSummaryHome h3 a:hover {border-bottom:1px solid #000000;}

@media screen and (max-width: 767px) {
.NewsSummaryHome {
   margin: 0 auto 0.75rem auto;
    padding: 0.5rem;
    border: 1px solid rgba(0,102,0,0.30);
	}}


.NewsSummarySummaryHome {color:rgba(129,129,129,1.00);padding:0.5rem 0;min-height:150px;font-size:1rem;}
.NewsSummaryLinkHome {padding:0.5rem 0 0 0;}
a[href^="tel:"]:before {
    content: "\260e";
    margin-right: 0.5em;
}

.NewsSummaryPrice {font-size:0.85rem;color:#0B632E;padding:0.5rem 0;}

 .NewsSummaryPrice.detail {font-size:0.85rem;color:#0B632E;padding:0.5rem 0;margin:0 0 2rem 0;}


.pricelistsum {padding:0.5rem 0;}
.pricelistsum.detailpage {border-bottom:2px solid #A57868;margin:0 0 1rem 0;padding: 0 0 1rem 0;}
.pricelistpadleft {padding:0 0 0 0.5rem;}

.detailpagesummary {border-bottom:2px solid #795548;margin-bottom:1rem;margin-top:2.2rem;}
.detailpagesummary h3 {}


.brownbox {background-color: #795548;padding:0.5rem;margin:0.75rem auto 1rem auto;border-radius:8px;}
.brownbox p {text-align:center;color:#ffffff;margin-bottom: 0rem;font-size:1.2rem;}
.brownbox p a {text-align:center;color:#ffffff;border-bottom:1px dotted #ffffff;}
.brownbox p a:hover {text-align:center;color:#795548;border-bottom:1px solid #066213;background-color: #ffffff;}

.pricelistsum .NewsSummaryPrice {font-size:0.85rem;color:#0B632E;padding:0;}
.pricelistsum h3 {line-height: 1.1;margin: 0;font-size:1.2rem;}
.pricelistsum h3 a {border:none;background:transparent;padding: 0;}
.pricelistsum h3 a:hover {color: #ffffff;background:#795548;}

.pricesumpic a {border:none;background:transparent;padding: 0;}

.newssumbutton {margin:-2rem 0 0 0;}
@media screen and (max-width: 767px) {
.newssumbutton {margin:0;}
.pricelistpadleft {padding:0.5rem 0;}


}


.CGBlogSummaryField {position:relative;text-align:center}

.CGBlogSummaryField a {padding:0;border:none;}

.CGBlogSummaryField img{width:100%}

.CGBlogSummaryField .image-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.3);-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s;opacity:0;overflow:hidden}

.CGBlogSummaryField:hover .image-overlay{opacity:1;background-color:rgba(0,0,0,.3);}

.CGBlogSummaryField .image-overlay .overlay-icon{width:70px;height:70px;display:block;border-radius:50%;margin:-70px auto 0;opacity:0;-webkit-transition:all .2s;-moz-transition:all .2s;-ms-transition:all .2s;-o-transition:all .2s;transition:all .2s}
.CGBlogSummaryField:hover .image-overlay .overlay-icon{opacity:1;margin:70px auto 0}.CGBlogSummaryField .image-overlay .overlay-icon img{width:70px;height:70px}

.sidebar .pricelistsum {margin-bottom:0.5rem;}
.detailcontent {text-align: justify;margin:1rem 0 2rem 0;}
.blogdetailimage {margin:0 0 1rem 0;padding:0;}
.blogdetailimage img {margin:0;padding:0;}

.up1rempad {position: relative;
    margin: -6.5rem auto 0 auto;
    background-color: #ffffff;
    padding:0;
    z-index: 50;
}
.up80vhrempad {position: relative;
    margin: -80vh auto 0 auto;
    background-color: #ffffff;
    padding: 1rem;
    z-index: 50;
}
.up40vhrempad {position: relative;
    margin: -40vh auto 0 auto;
    background-color: #ffffff;
    padding: 1rem;
    z-index: 50;
}
.up20vhrempad {position: relative;
    margin: -20vh auto 0 auto;
    background-color: #ffffff;
    padding: 1rem;
    z-index: 50;
}
.up6rempad {position: relative;
    margin: -15rem auto 0 auto;
    background-color: #ffffff;
    padding: 1rem;
    z-index: 50;
}
@media screen and (max-width: 900px) {
  .internal  .grid-padding-x > .cell {padding:0 0.5rem;}
.up6rempad {position: relative;
    margin: -15rem auto 0 auto;
    background-color: #ffffff;
    padding: 1rem 0.5rem;
    z-index: 50;
}}

@media screen and (max-width: 767px) {
.up1rempad {position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0;
    z-index: 50;
}   

.up6rempad {position: relative;
   margin: 0 auto;
    background-color: #ffffff;
    padding: 0;
    z-index: 50;
    }

  .internal  .grid-padding-x > .cell {padding:0;}}
@media print, screen and (min-width: 40em) {
h1, .h1 {
font-size: 2.8rem;
margin:1.5rem 0;
    }}

.slidermargin {padding:1rem;}
@media screen and (max-width: 1025px) {
    .slidermargin {padding:1rem;}}
@media screen and (max-width: 767px) {
    .slidermargin {padding:0.5rem;}}

.slidermargin .NewsSummaryHome {
   margin: 0;
    padding: 0.75rem;
    background-color: #FFFFFF;
    border: 1px solid rgba(0,102,0,0.30);
}


.brownborder {padding:2rem 0;border-top:1.4rem solid #795548;}
.gallerycenter {margin:0 auto;}

.addresscontent {padding:0;}
@media screen and (max-width: 767px) {
    .addresscontent {padding:0.5rem 0 0 0;}}


.slick-prev,
.slick-next {
    position: absolute;
    top: -2.5rem;
    color: #ffffff;
    border: 0;
    background: #333333;
    z-index: 100;
     cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.slick-prev {left: 0;text-align: center;}
.slick-next {right: 0;text-align: center;}
@media screen and (max-width: 767px) {
.slick-prev {left: 0.75rem;text-align: center;}
    .slick-next {right: 0.75rem;text-align: center;}}
.slick-prev:hover, .slick-prev:focus, .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus, .slick-next:hover, .slick-next:focus {
    color: #FFFFFF;background-color: rgba(0,50,0,1.00);
}