<section class="footer"><div class="footerwrap"><p>Joy from Gloucester Thai Massage trained with the prestigious Wat Pho massage school, in Bangkok, Thailand.</p>
<p>To <a href="https://www.gtmassage.com.au/booking" title="Make a booking" alt="Make a booking" class="return-link">book a massage</a> please call Joy on <a title="Call Gloucester Thai Massage" href="tel:+61411447704">0411 447 704</a>, or email <a title="joy@gtmassage.com.au" href="mailto:joy@gtmassage.com.au?subject=Booking a massage">joy@gtmassage.com.au</a></p>
<p>Gloucester Thai Massage is located at <a title="Gloucester Thai Massage" href="https://goo.gl/maps/Ucb2RNnhJfL2" target="_blank" rel="noopener">Shop 2/78 Church St, Gloucester, 2422</a></p><a class="scrollToTop" style="display: inline;" href="#">Scroll To Top</a></div></section>

