<section class="footer">
    <div class="footerwrap">
        <h3 class='centered-text white'>Tararom Authentic Thai &amp; Remedial Massage</h3>
            <p><strong>St.Marys Branch</strong><br>Address: 234 Queen St. St.Marys NSW 2760<br>Bookings: <a title="Call Tararom Authentic Thai Massage" href="tel:+61296233692">02 9623 3692</a>, or <a title="Call Tararom Authentic Thai Massage" href="tel:+61449212782">0449 212 782</a><br>Open 7 Days : 9.30am - 8pm<br>Email: <a href="mailto:info@tararomthaimassage.com.au">info@tararomthaimassage.com.au</a></p>
        <h4 class='centered-text white'>Health Fund Rebates Available:</h4>
            <p>AHM, BUPA, ARHG, CBHS, HBF, HCF, MEDIBANK, NIB</p>
    </div>
</section>

