<div class="photo-gallery 2">
  {% for image in galleryimages %}
<div class="img">
<a class="group" href="{{ image.url }}" alt="{{ image.alt }}?tr=w-300,h-300,q-70,pr-true" title="{{ image.alt }}" data-title="{{ image.alt }}" data-lightbox="{{ title }}"><img src="{{ image.url }}" alt="{{ image.alt }}" title="{{ image.alt }}"></a>
</div>
  {% endfor %}
</div>

