<div class="photo-gallery 2">
{% for image in galleryimages %}
<div class="img">
<a class="group" href="{{ image.url }}" alt="{{ title }}-{{ image.alt }}" title="{{ image.alt }}" data-title="{{ image.alt }}" data-lightbox="{{ post.url | url }}">
<img src="{{ image.url }}?tr=w-300,h-300,q-70,pr-true" alt="{{ title }}-{{ image.alt }}" title="{{ title }}-{{ image.alt }}"></a>
</div>
{% endfor %}
</div>

