<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation"><span class="hamburger-icon"></span>
<span class="title-bar-title">Menu</span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | Gloucester Thai Massage" id="logo">
<img src="https://ik.imagekit.io/webtactics/gtm/assets/gloucester-thai-massage-logo-150x150_Qm9VcMjWA.jpg?updatedAt=1683952271536" alt="Gloucester Thai Massage" title="Gloucester Thai Massage">
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>
<div class="socialwrapper">
<ul class="menusocial">
<li><a title="Follow Gloucester Thai Massage on Facebook" href="https://www.facebook.com/GloucesterThaiMassage/" target="_blank"> <img src="https://ik.imagekit.io/webtactics/gtm/assets/facebook-50x50_xSfiXGDeZ.png?tr=w-34,h-34" alt="Follow Gloucester Thai Massage on Facebook" title="Follow Gloucester Thai Massage on Facebook"></a></li>
</ul>
</div>
</header>