<head>
<meta property="og:url" content="https://www.tararomthaimassage.com.au{{ page.url or post.url or permalink }}" />
<meta charset="utf-8">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="static/assets/favicon.ico" sizes="any"><!-- 32×32 -->
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="static/assets/apple-icon.png"><!-- 180×180 -->
<link rel="manifest" href="static/assets/site.webmanifest">


<title>{{ title or metadata.title }}</title>

<meta property="og:title" content="{{ title or metadata.title }}" />
<meta property="og:description" content="{{ description or metadata.description or eleventyComputed.description }}" />
<meta property="og:image" content="{{ image or metadata.image or eleventyComputed.image }}" />
<meta property="og:url" content="https://www.tararomthaimassage.com.au{{ page.url or post.url or permalink }}" />


{% set css %}
    {% include "assets/css/tararom.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Open+Sans" rel="stylesheet">


  {# Uncomment below if you want to include minified inline JavaScript #}
  {# {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script> #}




</head>
