<section class="sliderbox hide-for-print">

  <div class="home-slide hide-for-print">
    <div class="hero" style="background: url(https://www.tararomthaimassage.com.au/uploads/images/Gallery/home/Tararom-Thai-Massage-1.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
    <div class="hero" style="background: url(https://www.tararomthaimassage.com.au/uploads/images/Gallery/home/Tararom-Thai-Massage-2.jpg) no-repeat center center;width:100%; background-size:cover;"></div>
  </div>

  <div class="homebooklogo">
    <h1>Tararom Authentic Thai &amp; Remedial Massage</h1>
  </div>

</section>
