<section class="sliderbox hide-for-print">

  <div class="home-slide hide-for-print">
    <div class="hero" style="background: url(https://ik.imagekit.io/webtactics/thai-massage/hero/Tararom-Thai-Massage-1_OTvXb3zIo.jpg?updatedAt=1729466689409) no-repeat center center;width:100%; background-size:cover;"></div>
    <div class="hero" style="background: url(https://ik.imagekit.io/webtactics/thai-massage/hero/Tararom-Thai-Massage-2_Lm3oyUc2u.jpg?updatedAt=1729466414832) no-repeat center center;width:100%; background-size:cover;"></div>
  </div>

  <div class="homebooklogo">
    <h1>Tararom Authentic Thai &amp; Remedial Massage</h1>
  </div>

</section>
