  <section class="sliderbox hide-for-print">
  <div class="hero" style="background: url(https://ik.imagekit.io/webtactics/gtm/assets/Gloucester-Thai-Massage-6_8NONfbWy-.jpg?tr=w-1200,h-800) no-repeat center center;width:100%; background-size:cover;position: relative;"></div> 
  <div class="homebooklogo">
    <h1><img src="https://ik.imagekit.io/webtactics/gtm/assets/gtmassage-logo-white-drop-400x106_n9UEFfLVD.png?updatedAt=1683952369716" alt="Gloucester Thai Massage" title="Gloucester Thai Massage"></h1>
    </div>
    <div class="homebookingbutton">
<a class="button success" href="https://www.gtmassage.com.au/booking" title="Make a booking" alt="Make a booking">Make a booking</a>   
      </div>
  </section>
