 <!-- _includes/navigation.njk -->
<nav class="childlist">
<ul class="main-menu">
    {% for page in collections.pages %}
      {% if page.url == '/' %}
        <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
      {% else %}
        <li class="dropdown">
          <a href="{{ page.url }}" class="dropdown-toggle">{{ page.data.title }}</a>
          <ul class="dropdown-menu">
            {% for childPage in page.children %}
              <li><a href="{{ childPage.url }}">{{ childPage.data.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
