<!-- _includes/navigation.njk -->
<nav class="childlist">
<ul class="main-menu">
    {% for navItem in collections.nav | navigation(parent) %}
      <li><a href="{{ navItem.url }}">{{ navItem.data.title }}</a></li>
      {% if navItem.children.length > 0 %}
        <ul>
          {% for childItem in navItem.children %}
            <li><a href="{{ childItem.url }}">{{ childItem.data.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
