<nav class="childlist">
<ul class="main-menu">
    {% for page in collections.pages %}
      {% if page.data.parent == null %}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
          {% if page.data.hasChildren %}
            <ul>
              {% for childPage in collections.pages %}
                {% if childPage.data.parent == page.fileSlug %}
                  <li><a href="{{ childPage.url }}">{{ childPage.data.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>