<div class="detailcontent"><p><strong>90 minutes of massage including:</strong></p><p>60 minutes: <a href="https://tararom-thai.netlify.app/treatments/traditional-thai-massage/">Traditional Thai Massage</a> plus<br>30 minutes: <a href="https://tararom-thai.netlify.app/treatments/traditional-thai-massage/">Aroma Oil Massage</a></p></div>