<section class="grid-2-columns postlist-packages" >
	{% for post in postslist | reverse %}
<div class="packsumhome">
		<article{% if post.url == url %} data-current="current item"{% endif %} >
			
<div class="packtitle">
<h2><a href="{{ post.url | url }}" title="{{ post.data.title }}" alt="{{ post.data.title }}" >{{ post.data.title }}</a></h2>
</div>

<div class="CGBlogSummaryField">
<a href="{{ post.url | url }}"  title="{{ post.data.title }}" alt="{{ post.data.title }}"><img src="{{ post.data.image }}/tr:w-600,h-270" alt="{{ post.data.imageAlt }}" title="{{ post.data.imageAlt }}" >
<span class="image-overlay">
<span class="overlay-icon"><img src="/static/img/assets/tararom-square-logo.jpg" /></span></span></a>
</div>

<div class="packdesc">
	<p class="postsumhome">{{ post.data.description }}</p>
</div>

<div class="packdesc">
	<h3>Test 1</h3>
	{% include "components/packages/packages-1.html" %}
</div>


{% if pack1 %}
<h3>Package1</h3>
{% include "components/packages/packages-1.html" %}
{% endif %}

{% if Package1 %}
<h3>Package1</h3>
{% include "components/packages/packages-1.html" %}
{% endif %}
{% if Package2 %}
<h3>Package1</h3>
{% include "components/packages/packages-2.html" %}
{% endif %}

{% if page.url == "./packages/package-1/" %}
<h3>Package-1 url</h3>
{% include "components/packages/packages-1.html" %}
{% endif %}


{% if Package-1 %}
<h3>CrunchyFriedNoodles</h3>
{% include "components/packages/packages-1.html" %}
{% elif HokkienNoodles %}{% endif %}







{%- if (Package1) -%}
<img src="{{ image }}" alt="{{ imageAlt }}"  width="1000" height="500">
{%- else -%}{%- endif -%}



<div class="packageprice">  
{% if post.data.price %}<div class="timecostwrapper"><span class="timecostmin">Price:</span>{{ post.data.price }}</div>{% endif %}
</div>					



<div class="right newssumbutton">
<a class="button right"  title="{{ post.data.title }}" alt="{{ post.data.title }}" href="{{ post.url | url }}">Read more &gt;</a>
</div>





		</article>
		</div>
	{% endfor %}
</section>










