<section class="grid-2-columns postlist-packages" >
	{% for post in postslist | reverse %}
<div class="packsumhome">
		<article{% if post.url == url %} data-current="current item"{% endif %} >
			
<div class="packtitle">
<h2><a href="{{ post.url | url }}" title="{{ post.data.title }}" alt="{{ post.data.title }}" >{{ post.data.title }}</a></h2>
</div>

<div class="CGBlogSummaryField">
<a href="{{ post.url | url }}"  title="{{ post.data.title }}" alt="{{ post.data.title }}"><img src="{{ post.data.image }}/tr:w-600,h-270" alt="{{ post.data.imageAlt }}" title="{{ post.data.imageAlt }}" >
<span class="image-overlay">
<span class="overlay-icon"><img src="/static/img/assets/tararom-square-logo.jpg" /></span></span></a>
</div>

<div class="packdesc">
	<p class="postsumhome">{{ post.data.description }}</p>
</div>

{%- if tags == "pack1" %}
<h1 class="cat--title">Free Tools For SEO and More!</h1>
{%- endif -%}



{% if ['pack1 == true'] %}
<h3>CrunchyFriedNoodles3</h3>
{% include "components/packages/packages-1.html" %}
{% elif HokkienNoodles %}{% endif %}

{% if ['pack2'] %}
<h3>Pack 2</h3>
{% include "components/packages/packages-2.html" %}
{% elif HokkienNoodles %}{% endif %}






<div class="packageprice">  
{% if post.data.price %}<div class="timecostwrapper"><span class="timecostmin">Price:</span>{{ post.data.price }}</div>{% endif %}
</div>					



<div class="right newssumbutton">
<a class="button right"  title="{{ post.data.title }}" alt="{{ post.data.title }}" href="{{ post.url | url }}">Read more &gt;</a>
</div>





		</article>
		</div>
	{% endfor %}
</section>










