<section class="grid-3-columns postlist-promotions" >
	{% for post in postslist | reverse %}
<div class="promosumhome">
		<article{% if post.url == url %} data-current="current item"{% endif %} >
			
<div class="promotitle">
	<h2>{{ post.data.title }}</h2>
</div>

<div class="CGBlogSummaryField">
	<img src="{{ post.data.image }}/tr:w-450,h-270" alt="{{ post.data.imageAlt }}" title="{{ post.data.imageAlt }}" >
		<span class="image-overlay">
			<span class="overlay-icon"><img src="/static/img/assets/tararom-square-logo.jpg" /></span>
		</span>
	
</div>

<div class="promodesc">
	<h2>{{ post.data.description }}</h2>
</div>


<div class="NewsSummaryPrice">  

	<div class="grid-timecost"> 
{% if post.data.time30 %}<div class="timecostwrapper"><span class="timecostmin">30 min:</span>{{ post.data.time30 }}</div>{% endif %}
{% if post.data.time45 %}<div class="timecostwrapper"><span class="timecostmin">45 min:</span>{{ post.data.time45 }}</div>{% endif %}
{% if post.data.time60 %}<div class="timecostwrapper"><span class="timecostmin">60 min:</span>{{ post.data.time60 }}</div>{% endif %}
{% if post.data.time90 %}<div class="timecostwrapper"><span class="timecostmin">90 min:</span>{{ post.data.time90 }}</div>{% endif %}
{% if post.data.time120 %}<div class="timecostwrapper"><span class="timecostmin">120 min:</span>{{ post.data.time120 }}</div>{% endif %}
	</div>
</div>				



<div class="right newssumbutton">
<a class="button right"  title="{{ post.data.title }}" alt="{{ post.data.title }}" href="/contact/">Book now &gt;</a>
</div>





		</article>
		</div>
	{% endfor %}
</section>


