

<!-- Start Price list Template -->

<h3>Massage Packages:</h3>
<div class="detailpagesummaryborder"></div>
<!-- items -->
{% for post in postslist | reverse %}
<div class="detailpagesummary">
<div class="grid-detailpage-sidebar-summary">


<div class="pricesumpic">
<a href="{{ post.url | url }}"><img src="{{ post.data.image }}/tr:w-300,h-300" alt="{{ post.data.imageAlt }}" title="{{ post.data.imageAlt }}" ></a>
</div>

<div class="detailpage-sidebar-summary-content-wrapper">

<div class="pricelistsum">
<h3><a href="{{ post.url | url }}" title="{{ post.data.title }}" alt="{{ post.data.title }}" >{{ post.data.title }}</a></h3>
</div>

<div class="SummaryPrice sidebar">  
<div class="grid-timecost-sidebar"><span class="red">{{ post.data.price }}</span></div>	
</div>	

</div>

</div>
</div>
{% endfor %}



