<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

	
<body class=" {{ class }} internal" >

  {% include "components/off-canvas.njk" %}
  {% block hero %}
  {% include "components/hero.njk" %}
  {% endblock %}

<div class="container">
   
{% include "components/header.njk" %}
  {% block content %}
<section role="main" class="content">  
{{ layoutContent | safe }}
</section>
{% endblock %}

  {% include "components/footer.njk" %}
</div>
{% include "components/javascript.njk" %}

</body>
</html>
