{% extends "layouts/default.njk" %}

{% block hero %}
{% include "components/hero-detail.njk" %}
{% endblock %}




{% block content %} <section role="main" class="content">
 <div class="grid-2-columns-2x1">
 <div class="detailwrapper"><article>{{ layoutContent | safe }}</article></div>
 <div class="sidebarwrapper"><aside>{% set postslist = collections.massages %}
{% include "components/postslist-sidebar.njk" %}</aside></div>
 </div>
</section>
{% endblock %}