{% extends "layouts/default.njk" %}


{% block bodyclass %}<body class=" {{ class }} home" >{% endblock %}

{% block hero %}
{% include "components/hero-home.njk" %}
{% endblock %}





{% block content %}
<section role="main" class="content">  
{{ layoutContent | safe }}
<h3>Promotions</h3>
{% set postslist = collections.promotions %}
{% include "components/postslist.njk" %}
<h3>Packages</h3>
{% set postslist = collections.packages %}
{% include "components/postslist.njk" %}
<h3>Treatments</h3>
{% set postslist = collections.treatments %}
{% include "components/postslist.njk" %}
</section>
{% endblock %}


 