{% extends "layouts/default.njk" %}


{% block content %}
<section role="main" class="content">  
     <div class="contentbox">{{ content | safe }}</div>


{% set postslist = collections.treatments %}
{% include "components/postslist-treatments.njk" %}
  <h2>Weekly Promotions</h2>
{% set postslist = collections.promotions | reverse %}
{% include "components/postslist-promotions.njk" %}

<h2>Special Massage Packages</h2>
{% set postslist = collections.packages | reverse %}
{% include "components/postslist-packages.njk" %}






<div class="gallery">
	<div class="img">
			
		<a class="group" href="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/health-funds.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage" data-title="health-funds.jpg" data-lightbox="cmsmsgallery183"><img src="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/health-funds.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage"></a>
		</div>
	<div class="img">
			
		<a class="group" href="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-1.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage" data-title="gal-1.jpg" data-lightbox="cmsmsgallery183"><img src="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-1.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage"></a>
		</div>
	<div class="img">
			
		<a class="group" href="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-2.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage" data-title="gal-2.jpg" data-lightbox="cmsmsgallery183"><img src="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-2.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage"></a>
		</div>
	<div class="img">
			
		<a class="group" href="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-3.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage" data-title="gal-3.jpg" data-lightbox="cmsmsgallery183"><img src="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-3.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage"></a>
		</div>
	<div class="img">
			
		<a class="group" href="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-4.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage" data-title="gal-4.jpg" data-lightbox="cmsmsgallery183"><img src="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-4.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage"></a>
		</div>
	<div class="img">
			
		<a class="group" href="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-5.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage" data-title="gal-5.jpg" data-lightbox="cmsmsgallery183"><img src="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-5.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage"></a>
		</div>
	<div class="img">
			
		<a class="group" href="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-6.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage" data-title="gal-6.jpg" data-lightbox="cmsmsgallery183"><img src="https://ik.imagekit.io/webtactics/thai-massage/gallery/St-Marys/gal-6.jpg" alt="Tararom Authentic Thai Massage" title="Tararom Authentic Thai Massage"></a>
		</div>

<div class="galleryclear">&nbsp;</div>
</div>


</section>
{% endblock %}