---
layout: layouts/default.njk
section: post
---


 <div class="grid-2-columns-2x1">
 <div class="detailwrapper">
<article>


<div class="item blogdetail">
<h1 class="heading-text">{{ title }}</h1>


<div class="blogdetailimage" align="center"><img src="{{ image }}/tr:w-1000,h-600" alt="{{ imageAlt }}" title="{{ imageAlt }}"></div>
<div class="detailcontent">     
{{ content | safe }}</div>


 <div class="NewsSummaryPrice detail"> 
 <h4>Pricing</h4>
<div class="grid-timecost"> 
{% if post.data.price %}<div class="timecostwrapper"><span class="timecostmin">Price:</span>{{ post.data.price }}</div>{% endif %}
</div>	</div>	

  <h3>Health Fund Rebates Available:</h3>
  <p>AHM, BUPA, ARHG, CBHS, HBF, HCF, MEDIBANK, NIB</p>








<a class="button blogdetail" href="/booking/" class="return-link">Make a booking</a>    
  
<a class="button blogdetail right" href="/treatments/" class="return-link">Return to the Treatments page</a>    
</div>
</article>
</div>
<div class="sidebarwrapper">
<aside>{% set postslist = collections.packages %}{% include "components/postslist-sidebar.njk" %}</aside>
</div>
</div>

<div class="gallery">
{% include "components/gallery.njk" %}
</div>
  {% if tags %}
    <div class="NewsSummaryPrice detail"><h4>Tags</h4>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/treatments/{{ tag }}/{% endset %}
       <div class="tag"><a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a></div>
      {%- endif -%}
    {% endfor %}
    </div>
  {% endif %}