---
layout: layouts/default.njk
section: promotions
class: promotions
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}






<h3>Promotions & Special Packages</h3>
{% set postslist = collections.promotions %}
{% include "components/postslist.njk" %}
<h3>Special Massage Packages</h3>
{% set postslist = collections.packages %}
{% include "components/postslist.njk" %}
<h3>Our Treatments and massages</h3>
{% set postslist = collections.treatments %}
{% include "components/postslist.njk" %}

